@import './common/var.scss';

.van-button {
  position: relative;
  padding: 0;
  display: inline-block;
  height: 44PX;
  line-height: 42PX;
  border-radius: 5PX;
  box-sizing: border-box;
  font-size: 16PX;
  text-align: center;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;

  &::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 100%;
    height: 100%;
    border: inherit;
    border-color: $black;
    background-color: $black;
    border-radius: inherit; /* inherit parent's border radius */
    transform: translate(-50%, -50%);
  }

  &:active::before {
    opacity: .3;
  }

  &--unclickable::before {
    display: none;
  }

  &--default {
    color: $button-default-color;
    background-color: $button-default-background-color;
    border: 1PX solid $button-default-border-color;
  }

  &--primary {
    color: $button-primary-color;
    background-color: $button-primary-background-color;
    border: 1PX solid $button-primary-border-color;
  }

  &--danger {
    color: $button-danger-color;
    background-color: $button-danger-background-color;
    border: 1PX solid $button-danger-border-color;
  }

  &--warning {
    color: $button-warning-color;
    background-color: $button-warning-background-color;
    border: 1PX solid $button-warning-border-color;
  }
  &--blue {
    color: $button-blue-color;
    background-color: $button-blue-background-color;
    border: 1PX solid $button-blue-border-color;
  }


  &--plain {
    background-color: $white;

    &.van-button--primary {
      color: $button-primary-background-color;
    }

    &.van-button--danger {
      color: $button-danger-background-color;
    }

    &.van-button--warning {
      color: $button-warning-background-color;
    }
  }

  &--middle {
    width: 100%;
    height: 44PX;
    line-height: 42PX;
  }

  &--large {
    width: 100%;
    height: 50PX;
    line-height: 48PX;
  }

  &--normal {
    padding: 0 15PX;
    font-size: 14PX;
  }

  &--small {
    height: 30PX;
    padding: 0 8PX;
    min-width: 60PX;
    font-size: 12PX;
    line-height: 28PX;
  }

  &--loading {
    .van-loading {
      display: inline-block;
    }
  }

  /* mini图标默认宽度50PX，文字不能超过4个 */
  &--mini {
    display: inline-block;
    width: 50PX;
    height: 22PX;
    line-height: 20PX;
    font-size: 10PX;

    & + .van-button--mini {
      margin-left: 5PX;
    }
  }

  &--block {
    width: 100%;
    display: block;
  }

  &--bottom-action {
    width: 100%;
    height: 50PX;
    line-height: 50PX;
    border: 0;
    border-radius: 0;
    font-size: 16PX;
    color: $button-bottom-action-default-color;
    background-color: $button-bottom-action-default-background-color;

    &.van-button--primary {
      background-color: $button-bottom-action-primary-background-color;
    }
  }

  &--disabled {
    opacity: .5;
  }

  &--round {
    border-radius: 10em;
  }

  &--square {
    border-radius: 0;
  }
}
